
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body::-webkit-scrollbar {
    display: none;
  }
  

@media (max-width: 768px){
.mobile {
    display: block;
}
::-webkit-scrollbar {
    width: 0px!important;
    height: 2px
}

::-moz-scrollbar {
    display: none !important;
  }



.mobile{
    display:none;
}
}

.sidenavMenu {
    height: 100%;
    width: 85%;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: -1000px;
    background-color: #fff;
    overflow: hidden;
    transition: .8s;
}

#toggleSafetyDiv{
    position: fixed;
    top: 0;
    
    bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
}

#toggleModDiv {
    position: fixed;
    top: 0;
    bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
}

.backgroundImages{
    width: 100%;
    margin-left: -1280px;
    position: absolute;

    
}